body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.admin-container {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px; /* Espacio en la parte inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#content {
  margin-top: 60px;
  text-align: center;
  padding: 20px;
}

#welcome-message {
  font-size: 18px;
}
h1 {
  font-size: 24px;
  text-align: center;
}
.table-container {
    width: 900px; /* Ancho fijo para el contenedor */
    height: 400px; /* Altura fija para el contenedor */
    overflow-y: auto; /* Permite el desplazamiento vertical si la tabla es muy alta */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    margin-top: 70px; /* Agrega un margen superior para separar de la parte inferior del header */
    border: 1px solid #dddddd; /* Borde para el contenedor */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
    background-color: white; /* Fondo blanco para el contenedor */
    display: flex; /* Para centrar el contenido dentro del contenedor */
    flex-direction: column; /* Apila los elementos verticalmente */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px; /* Agrega un margen superior para separar de la parte inferior del header */
}

th,
td {
  border: 1px solid #dddddd;
  padding: 6px;
  text-align: center;
  font-size: 10px;
}

th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}
.promedio-row {
  background-color: #fffbaa;
  font-weight: bold;
}

.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
