html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://cdn.glitch.global/053303b6-9407-4474-b212-bccd4a7b7e5d/LogoLDVFondo.png?v=1728658612450");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

body.login-background {
  background-color: #fafafa;
  opacity: 1;
}

#login-forms {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #01c5ff;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;
  max-width: 200px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008cb6;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#content {
  margin-top: 60px;
  text-align: center;
  padding: 20px;
}

#welcome-message {
  font-size: 18px;
}

#error-message {
  color: red;
  margin-top: 10px;
  display: none;
  text-align: center;
}

.notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  z-index: 1000;
  transition: opacity 0.5s;
  opacity: 0;
}

.notification.show {
  display: block;
  opacity: 1;
}

.notification.error {
  background-color: #b70011;
  color: #ffffff;
}

.notification.success {
  background-color: #00cb4d;
  color: #ffffff;
}

.table-container {
  width: 1000px;
  height: 400px;
  overflow-y: auto;
  margin: 20px auto;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más marcada */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px; /* Bordes redondeados */
}

#alumnos-table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed; /* Fija el layout de la tabla */
}

#alumnos-table th, #alumnos-table td {
  font-size: 12px;
  padding: 8px;
  text-align: left;
  border: 1px solid #dddddd;
  word-wrap: break-word; /* Permite el ajuste de texto largo */
}

#alumnos-table th {
  background-color: #01c5ff;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 12px; /* Aumento del padding */
  border-bottom: 2px solid #009688; /* Línea inferior más visible */
}

#alumnos-table tr:nth-child(even) {
  background-color: #f6f6f6;
}

#alumnos-table tr:nth-child(odd) {
  background-color: #ffffff;
  color: black;
}

#alumnos-table tr:hover {
  background-color: #d9d9d9;
  color: black;
  cursor: pointer;
}

#alumnos-table td:nth-child(1), #alumnos-table th:nth-child(1) {
  display: none; /* Escondido */
}

#alumnos-table td:nth-child(2), #alumnos-table th:nth-child(2) {
  display: none; /* Escondido */
}

#alumnos-table td:nth-child(3), #alumnos-table th:nth-child(3) {
  width: 20%;
}

#alumnos-table td:nth-child(4), #alumnos-table th:nth-child(4),
#alumnos-table td:nth-child(5), #alumnos-table th:nth-child(5),
#alumnos-table td:nth-child(6), #alumnos-table th:nth-child(6) {
  width: 10%; /* Mismo ancho para las columnas 4, 5 y 6 */
}

#alumnos-table td:nth-child(7), #alumnos-table th:nth-child(7) {
  width: 20%;
}

#alumnos-table td:nth-child(8), #alumnos-table th:nth-child(8) {
  width: 10%;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  background-color: #333333;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.success {
  background-color: #28a745;
}

.toast.warning {
  background-color: #ffc107;
}

.toast.error {
  background-color: #dc3545;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}

/* Estilo elegante y moderno con ajuste de ancho y desplazamiento para los dropdowns de observaciones */
select.observaciones, select.inasistencias {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  color: #444;
  outline: none;
  width: 100px; /* Ancho fijo */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select.observaciones:hover, select.inasistencias:hover {
  border-color: #888;
}

select.observaciones:focus, select.inasistencias:focus {
  border-color: #009688;
  box-shadow: 0 0 10px rgba(0, 150, 136, 0.5);
}

select.observaciones option, select.inasistencias option {
  padding: 10px;
}

select.observaciones, select.inasistencias {
  overflow-y: auto; /* Permite el desplazamiento vertical */
  max-height: 150px; /* Altura máxima del desplegable */
}
