/* Estilos para el cuerpo y encabezado */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f9;
}

header {
  background: linear-gradient(135deg, #007bff, #0056b3); /* Degradado azul */
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
}


.logo-container {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.logo {
  width: 120px;
}

.bloque-azul {
  /* Quitar el fondo */
  background-color: transparent; /* Cambiar el color de fondo a transparente */
  color: #ffffff; /* Cambiar el color del texto si es necesario */
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  box-shadow: none; /* Quitar la sombra si se desea */
}

.bloque-blanco {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

th {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #0056b3;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.campoformativo {
  width: 20%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}
.materia {
  width: 40%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}
.cp123 {
  width: 10%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}
.ctotal {
  width: 10%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}

/* Estilos para la tabla de inasistencias */
.inasistencias {
  width: 60%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}
.ip123 {
  width: 10%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}
.itotal {
  width: 10%; /* Ajustar según sea necesario para coincidir con el ancho de Campo Formativo y Materia */
  font-weight: bold;
}

/* Estilos para el contenedor de firmas */
.firma-container {
  display: flex;
  justify-content: space-around; /* Distribuye los espacios uniformemente */
  margin-top: 20px; /* Espaciado arriba */
}

/* Estilos para cada firma */
.firma {
  text-align: center; /* Centra el texto */
  width: 30%; /* Ajusta el ancho según sea necesario */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Línea para la firma */
.linea-firma {
  width: 200px; /* Ancho de la línea de firma */
  height: 2px; /* Altura de la línea de firma */
  background-color: #333; /* Color de la línea */
  margin: 50px 0 20px 0; /* Espacio vertical: 40px arriba, 20px abajo */
}



/* Estilo para el texto bajo la línea */
.firma-label {
  margin-top: 5px; /* Espaciado superior */
  font-weight: normal; /* Peso normal para el texto */
  color: #555; /* Color gris para el texto */
}

/* Estilo para el texto de descripción de la firma */
.firma-descripcion {
  margin-top: 5px; /* Espaciado superior */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  color: #777; /* Color gris para el texto */
}

.tabla-contenedor {
  width: 80%;
  max-width: 800px;
  margin: 20px auto; /* Centrar el contenedor */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Espaciado interno */
}

